name: Build

on:
  pull_request:
    branches:
      - develop
      - master

    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Java
        uses: ./.github/actions/set-up-java

      - name: Set up Gradle
        uses: ./.github/actions/set-up-gradle

      - name: Assemble libraries
        run: |
          ./gradlew \
            tdl-coroutines:bundleReleaseAar \
            tdl-coroutines:jvmJar \
            tdl-coroutines:iosArm64Cinterop-mainKlib \
            tdl-coroutines:iosArm64Klib \
            tdl-coroutines:iosArm64SimulatorCinterop-mainKlib \
            tdl-coroutines:iosArm64SimulatorKlib \
            tdl-coroutines:iosX64SimulatorCinterop-mainKlib \
            tdl-coroutines:iosX64SimulatorKlib \
            tdl-coroutines:macosArm64Cinterop-mainKlib \
            tdl-coroutines:macosArm64Klib \
            tdl-coroutines:macosX64Cinterop-mainKlib \
            tdl-coroutines:macosX64Klib

      - name: Assemble examples
        run: |
          ./gradlew \
            tdl-coroutines-example:assembleRelease \
            tdl-coroutines-example-jvm:assemble

      - name: Check API compatibility
        run: ./gradlew apiCheck
