name: Build and publish

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-publish:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Java
        uses: ./.github/actions/set-up-java

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.14.3

      - name: Assemble libraries
        run: |
          ./gradlew \
            tdl-coroutines:bundleReleaseAar \
            tdl-coroutines:jvmJar \
            tdl-coroutines:iosArm64Cinterop-mainKlib \
            tdl-coroutines:iosArm64Klib \
            tdl-coroutines:iosArm64SimulatorCinterop-mainKlib \
            tdl-coroutines:iosArm64SimulatorKlib \
            tdl-coroutines:iosX64SimulatorCinterop-mainKlib \
            tdl-coroutines:iosX64SimulatorKlib \
            tdl-coroutines:macosArm64Cinterop-mainKlib \
            tdl-coroutines:macosArm64Klib \
            tdl-coroutines:macosX64Cinterop-mainKlib \
            tdl-coroutines:macosX64Klib

      - name: Assemble examples
        run: |
          ./gradlew \
            tdl-coroutines-example:assembleRelease \
            tdl-coroutines-example-jvm:assemble

      - name: Check API compatibility
        run: ./gradlew apiCheck

      - name: Publish
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: ./gradlew publish
